<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Routing.Bridge.Common.ComplexNumberCalculator">
        <endpoint address="udp" binding="udpBinding" contract="Routing.Bridge.Common.IComplexNumber" />
        <endpoint address="tcp" binding="netTcpBinding" contract="Routing.Bridge.Common.IBinaryOperation" />
        <endpoint address="pipe" binding="netNamedPipeBinding" contract="Routing.Bridge.Common.IUnaryOperation" />
        <endpoint address="mex" kind="mexEndpoint" />
        <host>
          <baseAddresses>
            <add baseAddress="soap.udp://224.1.1.1:40000/ComplexNumberService" />
            <add baseAddress="net.tcp://localhost:8081/ComplexNumberService" />
            <add baseAddress="net.pipe://localhost/ComplexNumberService" />
            <add baseAddress="http://localhost:8082/ComplexNumberService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>