<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:8099/calculaterservice" binding="basicHttpBinding"
                bindingConfiguration="" contract="HQF.Tutorial.WCF.Contract.Interface.ICalculator"
                name="basicHttpBinding_ICalculator" kind="" endpointConfiguration="">
            </endpoint>
        </client>
        <diagnostics>
            <messageLogging logEntireMessage="true" />
            <endToEndTracing propagateActivity="true" activityTracing="true"
                messageFlowTracing="true" />
        </diagnostics>
    </system.serviceModel>
</configuration>