<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IFileReader" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://127.0.0.1:3721/filereaderservice"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFileReader"
                contract="ServiceReference.IFileReader" name="NetTcpBinding_IFileReader">
              </endpoint>
        </client>
    </system.serviceModel>
</configuration>