<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metaData">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/metadata" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="metaData" name="Binding.UdpBinding.Common.StockService">
        <endpoint address="udp" binding="udpBinding" contract="Binding.UdpBinding.Common.IStockService" />
        <host>
          <baseAddresses>
            <add baseAddress="soap.udp://224.1.1.1:40000/StockService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>