<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="wsDualHttpBinding.SampleServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="false" />
          
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
          
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="Contract.Duplex.Common.CalculatorService"
               behaviorConfiguration="wsDualHttpBinding.SampleServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12000/DuplexTestUsingConfig/Server" />
          </baseAddresses>
        </host>
        <endpoint address=""
          binding="wsDualHttpBinding"
                  bindingConfiguration=""
                  contract="Contract.Duplex.Common.ICalculatorDuplex">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>