<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.serviceModel>
    <client>
   
      <endpoint address="http://localhost:8080/RoutingService/Router"   binding="basicHttpBinding"
                contract="Routing.Common.IComplexNumber" name="BasicHttpBinding_IComplexNumber" />
    </client>
  </system.serviceModel>
</configuration>