<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Routing.LoadBalancing.Common.ComplexNumberCalculator">
        <endpoint address="" binding="basicHttpBinding" contract="Routing.LoadBalancing.Common.IComplexNumber" />
        <endpoint address="binary" binding="basicHttpBinding" contract="Routing.LoadBalancing.Common.IBinaryOperation" />
        <endpoint address="unary" binding="basicHttpBinding" contract="Routing.LoadBalancing.Common.IUnaryOperation" />
        <endpoint address="mex" kind="mexEndpoint" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/ComplexNumberCalculator" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>