<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <!-- use appSetting to configure MSMQ queue name -->
    <add key="queueName" value=".\private$\ServiceModelSamples" />
    <add key="baseAddress"  value="http://localhost:8000/queuedCalculator/defaultSample"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="NetMsmqBinding_IQueueCalculator">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <endpoint address="net.msmq://localhost/private/ServiceModelSamples"
        binding="netMsmqBinding" contract="Binding.MSMQ.Common.IQueueCalculator" />
      <endpoint address="net.msmq://localhost/private/ServiceModelSamples"
        binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IQueueCalculator"
        contract="Services.IQueueCalculator" name="NetMsmqBinding_IQueueCalculator" />
    </client>
  </system.serviceModel>
</configuration>