<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8081/StockService1" binding="basicHttpBinding"
                contract="*" name="stockservice1" />
      <endpoint address="http://localhost:8081/StockService2" binding="basicHttpBinding"
                contract="*" name="stockservice2" />
      <endpoint address="http://localhost:8081/StockService3" binding="basicHttpBinding"
                contract="*" name="stockservice3" />
    </client>
    <routing>
      <filters>
        <filter name="wildCardFilter" filterType="MatchAll" />
      </filters>
      <filterTables>
        <filterTable name="RoutingTable">
          <add filterName="wildCardFilter" endpointName="stockservice1" />
          <add filterName="wildCardFilter" endpointName="stockservice2" />
          <add filterName="wildCardFilter" endpointName="stockservice3" />
        </filterTable>
      </filterTables>
    </routing>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <routing filterTableName="RoutingTable" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="System.ServiceModel.Routing.RoutingService">
        <endpoint address="" binding="basicHttpBinding"
                  contract="System.ServiceModel.Routing.ISimplexDatagramRouter" name="virtualendpoint" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/RoutingService/Router" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>