<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="HQF.Tutorial.WCF.Contract.CalculatorService"
        behaviorConfiguration="MyServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:9999" />
          </baseAddresses>
        </host>
        <endpoint contract="HQF.Tutorial.WCF.Contract.Interface.ICalculator"
          binding="basicHttpBinding" address="/calculatorservice-bs" />
        <endpoint contract="HQF.Tutorial.WCF.Contract.Interface.ICalculator"
          binding="wsHttpBinding" address="/calculatorservice" />
        <endpoint kind="mexEndpoint" address="/mex"
          binding="mexHttpBinding" />
      </service>
    </services>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>