<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="Broadcasting.Service.BroadcastorService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/BroadcastorService/Service1/" />
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:8090/broadcastServer"
            binding="netTcpBinding" bindingConfiguration="" contract="Broadcasting.Service.Interface.IBroadcastorService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    
  </system.serviceModel>
</configuration>