<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  
  <appSettings>
    <!-- use appSetting to configure MSMQ queue name -->
    <add key="queueName" value=".\private$\ServiceModelSamples" />
    <add key ="baseAddress" value="http://localhost:8000/queuedCalculator/defaultSample"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="MsmqBindingNonTransactionalNoSecurity"
         deadLetterQueue="Custom"
         useActiveDirectory="false"
         exactlyOnce="true">
          <security>
            <transport
               msmqAuthenticationMode="None"
               msmqProtectionLevel="None"/>
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  
    <services>
      <service
          name="Binding.MSMQ.Common.CalculatorService"
          behaviorConfiguration="CalculatorServiceBehavior">
        <!-- Define NetMsmqEndpoint -->
        <endpoint address="net.msmq://localhost/private/ServiceModelSamples"
                  binding="netMsmqBinding"
                  bindingConfiguration="MsmqBindingNonTransactionalNoSecurity"
                  contract="Binding.MSMQ.Common.IQueueCalculator" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

  </system.serviceModel>
  
</configuration>