<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
<system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior">
          <exceptionMarshalling/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint name="MyEndpoint" address="net.tcp://localhost:9001/Service" binding="netTcpBinding"
        contract="Common.IService" behaviorConfiguration="endpointBehavior"/>
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="exceptionMarshalling"
          type="WcfExtensions.ExceptionMarshallingElement, ExceptionHandling.Extensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>

</configuration>