<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <udpBinding>
        <binding name="UdpBinding_IStockService" />
      </udpBinding>
    </bindings>
    <client>
      <endpoint address="soap.udp://224.1.1.1:40000/StockService/udp"
          binding="udpBinding" bindingConfiguration="UdpBinding_IStockService"
          contract="Binding.UdpBinding.Common.IStockService" name="UdpBinding_IStockService" />
    </client>
  </system.serviceModel>
</configuration>