<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:9999/filereaderservice/mex" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Contract.AsyncPattern.Common.FileReaderService" behaviorConfiguration="mexBehavior">
                <endpoint address="net.tcp://127.0.0.1:3721/filereaderservice"
                    binding="netTcpBinding" bindingConfiguration="" contract="Contract.AsyncPattern.Common.IFileReader" />
            </service>
        </services>
    </system.serviceModel>
</configuration>