<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8081/ComplexNumberCalculator/Regular" binding="basicHttpBinding"
                contract="*" name="firstVersion" />
      <endpoint address="http://localhost:8082/ComplexNumberCalculator/Extended" binding="basicHttpBinding"
                contract="*" name="secondVersion" />
    </client>
    <routing>
      <namespaceTable>
        <add prefix="s" namespace="http://schemas.xmlsoap.org/soap/envelope/"/>
        <add prefix="cn" namespace="http://custom/namespace"/>
      </namespaceTable>
      <filters>
        <filter name="firstVersionFilter" filterType="XPath" filterData="/s:Envelope/s:Header/cn:Version ='v1.0'"/>
        <filter name="secondVersionFilter" filterType="XPath" filterData="/s:Envelope/s:Header/cn:Version ='v2.0'"/>
        <filter name="noHeaderFilter" filterType="XPath" filterData="count(/s:Envelope/s:Header/cn:Version) = 0" />
      </filters>
      <filterTables>
        <filterTable name="RoutingTable">
          <add filterName="firstVersionFilter" endpointName="firstVersion"/>
          <add filterName="secondVersionFilter" endpointName="secondVersion"/>
          <add filterName="noHeaderFilter" endpointName="secondVersion"/>
        </filterTable>
      </filterTables>
    </routing>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <routing filterTableName="RoutingTable" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="System.ServiceModel.Routing.RoutingService">
        <endpoint address="" binding="basicHttpBinding"
                 contract="System.ServiceModel.Routing.IRequestReplyRouter" name="VirtualEndpoint" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/RoutingService/Router" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>