<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="SendMailQueueName" value=".\private$\ClassA_SendMail" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="SendMailNetMsmqBinding" deadLetterQueue="Custom">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service behaviorConfiguration="MetadataBehavior" name="Binding.MSMQ.Mail.Common.SendMailService">
        <endpoint
          address="net.msmq://localhost/private/ClassA_SendMail"
          binding="netMsmqBinding"
          contract="Binding.MSMQ.Mail.Common.ISendMail"
          bindingConfiguration="SendMailNetMsmqBinding" />
        <endpoint
          address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8088/SendMail/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>