<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8080/RoutingService/Router/all" binding="basicHttpBinding"
                contract="Routing.Bridge.Common.IComplexNumber" name="BasicHttpBinding_IComplexNumber" />
      <endpoint address="http://localhost:8080/RoutingService/Router/binary" binding="basicHttpBinding"
               contract="Routing.Bridge.Common.IBinaryOperation" name="BasicHttpBinding_IBinaryOperationr" />
      <endpoint address="http://localhost:8080/RoutingService/Router/unary" binding="basicHttpBinding"
               contract="Routing.Bridge.Common.IUnaryOperation" name="BasicHttpBinding_IUnaryOperation" />
    </client>
  </system.serviceModel>
</configuration>